%section.hero-splash{style: "background-image: url(#{image_path('backgrounds/splash_3.jpg')});"}
  .container
    .centered-row
      %h1 Course Plan
      %p
        %strong
          We see code as a raw material and programming as a craft. To be a good programmer, you have to practice and you do that through writing code - every single day, always increasing the complexity of the work.
      %p
        %strong
          Our educational philosophy holds to that, and our students will start writing code even before they start the course, and every single day of the twelve weeks they spend with us. We know that this is the only way to learn to code. Theory comes after practice.
