%section.full-slider.no-padding
  .slider
    .slide
      .container
        .profile-row
          .image.show-desktop
            %img{src: '/images/logos/rails_logo.png', width: '200px'}
          .copy
            %h3= "Ruby on Rails"
            %h4
              Du kommer att bygga avancerade webbapplikationer i programeringsspråket Ruby och med Ruby on Rails, ett kraftfull ramverk för webbaserade program.
            .button-row.shift-to-bottom
          .image.hide-desktop.no-padding
            %img{src: '/images/logos/rails_logo.png', width: '200px'}
    .slide
      .container
        .profile-row
          .image.show-desktop
            %img{src: '/images/logos/html5_logo.png', width: '200px'}
          .copy
            %h3= "HTML 5"
            %h4
              HTML5 är grundbulten inom webbutveckling. Grunderna är alltid viktiga och vi visar dig hur man strukturerar webbsidor och gör dem till en engagerande upplevelse för användarna.
            .button-row.shift-to-bottom
          .image.hide-desktop.no-padding
            %img{src: '/images/logos/html5_logo.png', width: '200px'}
    .slide
      .container
        .profile-row
          .image.show-desktop
            %img{src: '/images/logos/js_logo.png', width: '200px'}
          .copy
            %h3= "JavaScript"
            %h4
              Varje webbapplikation behöver en front-end, och med javascript kan du skapa dynamiska, engagerande webbapplikationer. Du kommer att lära dig skriva & felsöka JavaScript på klientsidan för att skapa moderna sidor för olika enheter.
            .button-row.shift-to-bottom
          .image.hide-desktop.no-padding
            %img{src: '/images/logos/js_logo.png', width: '200px'}
    .slide
      .container
        .profile-row
          .image.show-desktop
            %img{src: '/images/logos/git_logo.png', width: '200px'}
          .copy
            %h3= "Git"
            %h4
              Du behöver ha koll på ändringarna i dina projekt, spara dessa på ett informativt sätt samt kunna återställa tidigare versioner snabbt om något skulle strula. Säg hej till Git.
            .button-row.shift-to-bottom
          .image.hide-desktop.no-padding
            %img{src: '/images/logos/git_logo.png', width: '200px'}
