<section class="structure-section">
  <div class="row structure-header">
    <div class="large-2 medium-4 columns show-for-large-up">
      &nbsp;
    </div>
    <div class="large-8 medium-12 small-12 columns title">
      <h1 style="font-size: 40px;">Struktur</h1>
    </div>
    <div class="large-2 medium-4 columns show-for-large-up">
      &nbsp;
    </div>
  </div>
  <div class="row graph show-for-medium-up">
    <div class="medium-12 columns">
      <div class="row">
        <div class="medium-3 columns">
          <div class="row">
            <div class="medium-12 columns precourse">
              <h4>Förberedande kurs</h4>

              <p>Deltid 15-20h/vecka<br>On-line med coaching</p>
            </div>
          </div>
        </div>
        <div class="medium-9 columns">
          <div class="row">
            <div class="medium-12 columns">
              <div class="row">
                <div class="medium-9 course columns">
                  <h4>Kurs</h4>

                  <p>Heltid: ca 60+ h/vecka<br>Måndag - Fredag Chalmers Innovation,
                    Göteborg
                  </p>
                </div>
                <div class="medium-2 final columns">
                  <h4>Projektarbeten</h4>
                </div>
                <div class="medium-1 hiring columns">
                  <h4>Projektdemo</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row graph show-for-medium-up">
    <div class="medium-12 columns answer">
      <div class="row">
        <div class="medium-3 columns">
          <div class="row">
            <div class="medium-6 columns">
              <div class="row">
                <div class="medium-6 columns week">
                  1
                </div>
                <div class="medium-6 columns week">
                  2
                </div>
              </div>
            </div>
            <div class="medium-6 columns">
              <div class="row">
                <div class="medium-6 columns week">
                  3
                </div>
                <div class="medium-6 columns week">
                  4
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="medium-3 columns">
          <div class="row">
            <div class="medium-6 columns">
              <div class="row">
                <div class="medium-6 columns week">
                  5
                </div>
                <div class="medium-6 columns week">
                  6
                </div>
              </div>
            </div>
            <div class="medium-6 columns">
              <div class="row">
                <div class="medium-6 columns week">
                  7
                </div>
                <div class="medium-6 columns week">
                  8
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="medium-3 columns">
          <div class="row">
            <div class="medium-6 columns">
              <div class="row">
                <div class="medium-6 columns week">
                  9
                </div>
                <div class="medium-6 columns week">
                  10
                </div>
              </div>
            </div>
            <div class="medium-6 columns">
              <div class="row">
                <div class="medium-6 columns week">
                  11
                </div>
                <div class="medium-6 columns week">
                  12
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="medium-3 columns">
          <div class="row">
            <div class="medium-6 columns">
              <div class="row">
                <div class="medium-6 columns week">
                  13
                </div>
                <div class="medium-6 columns week">
                  14
                </div>
              </div>
            </div>
            <div class="medium-6 columns">
              <div class="row">
                <div class="medium-6 columns week">
                  15
                </div>
                <div class="medium-6 columns week">
                  16
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row graph-weeks hide-for-small">
    <div class="large-12 medium-12 columns item-centered">
      <h4>veckor</h4>
    </div>
  </div>
  <div class="row graph show-for-small">
    <div class="small-12 columns answer">
      <div class="row">
        <div class="small-12 columns weeks-title-small">
          <h4>veckor</h4>
        </div>
      </div>
      <div class="row">
        <div class="small-1 columns vertical-number">
          <div class="week-number">
            1
          </div>
          <div class="week-number">
            2
          </div>
          <div class="week-number">
            3
          </div>
          <div class="week-number">
            4
          </div>
          <div class="week-number">
            5
          </div>
          <div class="week-number">
            6
          </div>
          <div class="week-number">
            7
          </div>
          <div class="week-number">
            8
          </div>
          <div class="week-number">
            9
          </div>
          <div class="week-number">
            10
          </div>
          <div class="week-number">
            11
          </div>
          <div class="week-number">
            12
          </div>
          <div class="week-number">
            13
          </div>
          <div class="week-number">
            14
          </div>
          <div class="week-number">
            15
          </div>
          <div class="week-number">
            16
          </div>
        </div>
        <div class="small-1 columns vertical-graph">
          <div class="week-area"></div>
          <div class="week-area"></div>
          <div class="week-area"></div>
          <div class="week-area"></div>
          <div class="week-area"></div>
          <div class="week-area"></div>
          <div class="week-area"></div>
          <div class="week-area"></div>
          <div class="week-area"></div>
          <div class="week-area"></div>
          <div class="week-area"></div>
          <div class="week-area"></div>
          <div class="week-area"></div>
          <div class="week-area"></div>
          <div class="week-area"></div>
          <div class="week-area"></div>
        </div>
        <div class="small-10 columns">
          <div class="precourse-small">
            <div class="precourse-content">
              <h4>Förberedande kurs</h4>

              <p>Deltid 15-20h/vecka</p>
            </div>
          </div>
          <div class="course-small">
            <div class="course-content">
              <h4>Kurs </h4>

              <p>Fulltid: 60+ h/vecka</p>
            </div>
          </div>
          <div class="final-small">
            <h4>Projektarbeten</h4>
          </div>
          <div class="hiring-small">
            <h4>Projektdemo</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>