%section.backgrounded
  .container
    .centred-row
      %h3 Möt en av våra studenter
      = image_tag 'portraits/Bo-Mattsson-portrait.jpg', width: '200px'
      %p.copy--left
        Bo Mattsson är serieentreprenören och investeraren som byggt upp ett flertal techföretag genom åren.
        Efter att ha deltagit i vår första bootcamp under 2015 gick han även in som en investerare i Craft Academy och hjälper oss med sin breda know-how.
        Här svarar Bosse på några snabba frågor om varför det är viktigt att lära sig att koda.
      %p.copy
        = link_to 'Läs intervjun med Bo', 'https://blog.craftacademy.se/at-sov-skit-kod/', target: '_blank', class: 'button button--horizontal'

