/ Twitter Card data
%meta{content: 'Craft Academy - Coding as a Craft - in 12 weeks', name: 'twitter:card'}
%meta{content: '@MakersAcademySE', name: 'twitter:site'}
%meta{content: 'http://www.makesacademy.se/', name: 'twitter:url'}
%meta{content: 'Craft Academy - Coding as a Craft ', name: 'twitter:title'}
%meta{content: 'Craft Academy är ett 12 veckors heltidsprogram inom webbutveckling som föregås av en 4 veckors förberedande kurs. Upplägget med 16 veckors intensiv och praktiskt inriktad camp, ger dig grunderna du behöver för att kunna skapa, utveckla och sjösätta webbaserade applikationer.', name: 'twitter:description'}
%meta{content: '@MakersAcademySE', name: 'twitter:creator'}
/ Twitter Summary card images must be at least 120x120px8
%meta{content: 'http://assets.craftacademy.se/images/logo/logo-reversed-360x360.png', name: 'twitter:image'}
/ Open Graph data
%meta{content: 'Craft Academy Sweden - Coding as a Craft - in 12 weeks / Programmering som ett hantverk -  på 12 veckor', property: 'og:title'}/
%meta{content: 'website', property: 'og:type'}/
%meta{content: 'http://www.craftacademy.se', property: 'og:url'}/
%meta{content: 'http://assets.craftacademy.se/images/logo/logo-reversed-360x360.png', property: 'og:image'}/
%meta{content: 'Craft Academy är ett 12 veckors heltidsprogram inom webbutveckling som föregås av en 4 veckors förberedande kurs. Upplägget med 16 veckors intensiv och praktiskt inriktad camp, ger dig grunderna du behöver för att kunna skapa, utveckla och sjösätta webbaserade applikationer.', name: 'og:description'}
%meta{content: 'Craft Academy Sweden', property: 'og:site_name'}/
%meta{content: '1359036403', property: 'fb:admins'}/
/ Google Site Verification
%meta{content: '98Gisjh08Ju69wUrJ2K6t4uRMy9P3XYaQYFc1aDGaeA', property: 'google-site-verification'}/

