/ Twitter Card data
%meta{content: 'Lär dig koda på 12 veckor med Craft Academy', name: 'twitter:card'}
%meta{content: '@MakersAcademySE', name: 'twitter:site'}
%meta{content: 'http://www.craftacademy.se/', name: 'twitter:url'}
%meta{content: 'Craft Academy - Coding as a Craft ', name: 'twitter:title'}
%meta{content: 'Lär dig koda på 12 veckor. Craft Academy är ett 12 veckors heltidsprogram inom webbutveckling som föregås av en 4 veckors förberedande kurs. Vår intensiva och praktiskt inriktade bootcamp, ger dig grunderna du behöver för att kunna skapa, utveckla och sjösätta webbaserade applikationer.', name: 'twitter:description'}
%meta{content: '@CraftAcademySE', name: 'twitter:creator'}
/ Twitter Summary card images must be at least 120x120px8
%meta{content: 'http://assets.craftacademy.se/images/logo/landing_screen.jpg', name: 'twitter:image'}
/ Open Graph data
%meta{content: 'Lär dig koda på 12 veckor med Craft Academy', property: 'og:title'}/
%meta{content: 'website', property: 'og:type'}/
%meta{content: 'http://www.craftacademy.se', property: 'og:url'}/
%meta{content: 'http://assets.craftacademy.se/images/logo/landing_screen.jpg', property: 'og:image'}/
%meta{content: 'Lär dig koda på 12 veckor. Craft Academy är ett 12 veckors heltidsprogram inom webbutveckling som föregås av en 4 veckors förberedande kurs. Vår intensiva och praktiskt inriktade bootcamp, ger dig grunderna du behöver för att kunna skapa, utveckla och sjösätta webbaserade applikationer.', name: 'og:description'}
%meta{content: 'Craft Academy', property: 'og:site_name'}/
%meta{content: '1359036403', property: 'fb:admins'}/
/ Google Site Verification
%meta{name: 'google-site-verification', content: '98Gisjh08Ju69wUrJ2K6t4uRMy9P3XYaQYFc1aDGaeA'}/
