/ Twitter Card data
%meta{content: 'Makers Academy Sweden - Lär dig att koda på 12 veckor.', name: 'twitter:card'}
%meta{content: '@MakersAcademySE', name: 'twitter:site'}
%meta{content: 'http://www.makesacademy.se/', name: 'twitter:url'}
%meta{content: 'Makers Academy Sweden - Lär dig att koda', name: 'twitter:title'}
%meta{content: 'Makers Academy är ett 12 veckors heltidsprogram inom webbutveckling som föregås av en 4 veckors förberedande kurs. Upplägget med 16 veckors intensiv och praktiskt inriktad camp, ger dig grunderna du behöver för att kunna skapa, utveckla och sjösätta webbaserade applikationer.', name: 'twitter:description'}
%meta{content: '@MakersAcademySE', name: 'twitter:creator'}
/ Twitter Summary card images must be at least 120x120px8
%meta{content: 'https://pbs.twimg.com/profile_images/3087236754/91e379b7e0006d38ee0526946a38a1ea_400x400.png', name: 'twitter:image'}
/ Open Graph data
%meta{content: 'Makers Academy Sweden - Lär dig att koda på 12 veckor.', property: 'og:title'}/
%meta{content: 'article', property: 'og:type'}/
%meta{content: 'http://www.makersacademy.se', property: 'og:url'}/
%meta{content: 'http://assets.makersacademy.com/images/logo/logo-makers-academy-square', property: 'og:image'}/
%meta{content: 'Makers Academy är ett 12 veckors heltidsprogram inom webbutveckling som föregås av en 4 veckors förberedande kurs. Upplägget med 16 veckors intensiv och praktiskt inriktad camp, ger dig grunderna du behöver för att kunna skapa, utveckla och sjösätta webbaserade applikationer.', name: 'og:description'}
%meta{content: 'Makers Academy Sweden', property: 'og:site_name'}/
%meta{content: '1359036403', property: 'fb:admins'}/
