- data.htaccess.errors.each do |code, document|
  ErrorDocument #{code} #{document}

Options -Indexes

RewriteEngine on
RewriteCond %{HTTP_HOST} ^makersacademy.se
RewriteRule (.*) https://craftacademy.se/$1 [R=301,L]

RewriteEngine on
RewriteCond %{HTTP_HOST} ^www.makersacademy.se
RewriteRule (.*) https://craftacademy.se/$1 [R=301,L]

RewriteEngine On
RewriteCond %{ENV:MM_COUNTRY_CODE} ^ZA$
RewriteCond %{REQUEST_URI} !^/(pretoria|sass|terms|privacy|international|javascripts|stylesheets)
RewriteRule (.*) https://craftacademy.se/pretoria [L]
