- description 'Craft Academy är en 12 veckors intensiv och praktiskt inriktad camp för juniora utvecklare, Den dig grunderna du behöver för att kunna skapa, utveckla och sjösätta webbaserade applikationer. Vi erbjuder utbildningar i London, Göteborg, Stockholm (2016) och Malmö (2016)'
- title 'Om oss'

%section.hero-splash{style: "background-image: url(#{image_path('backgrounds/splash_3.jpg')});"}
  .container
    .centered-row
      %h1 Om Craft
      %p Craft Academy är en 12 veckors intensiv och praktiskt inriktad camp för juniora utvecklare.
%section.article--centered
  %article
    %h3 Att studera med Craft Academy
    %p Being a student at Craft Academy is a very emotional journey. Eating, sleeping and breathing code becomes a huge part of your life, but looking after your wellbeing is also critical to becoming a great developer. On site we have Dana, our Chief Joy Officer - a certified yoga instructor who runs daily yoga and meditation classes and is here to look after your well being.
    %p It’s also important to unwind and bond socially with your cohort. We're surrounded by some of London's quirkiest cafes, yummiest street food and busiest pubs. We also host regular events such as Petcha Kutcha lightning talks, games nights, karaoke nights, as well as organising group activities like climbing, go-karting and going to the theatre.

%section.hero{style: "background-image: url(#{image_path('backgrounds/splash_2.jpg')});"}
  .container
    .centered-row
      %h2 Vårt team
      %p Our mission is to teach as many people as possible to create amazing products using beautiful code. Since we started in early 2013, we’ve grown from two people to a team of twenty. We are not just colleagues: we’re a family. The Craft Academy team is a diverse bunch who work hard and play hard.
      .button-row
        =link_to 'Meet the Team', '/team.html', class: 'button button--horizontal'
        =link_to 'Join Us', '/join-the-team.html', class: 'button button--horizontal'
%section.article--centered
  %article
    %h3 Vår historia
    %p
      %span Craft Academy startades av Thomas Ochman i syfte att vara en del av lösningen på bristen på kompetens inom ICT-braschen.
    %hr
=# partial :'faqs'
%hr

= partial :'benefits_table'
= partial :'apply', locals: {about_us: true}
