%section.hero-splash-white
  .container
    .centered-row
      %h2 Vår modell
    .three-width-row
      .column
        %h3.copy--left Ingen förkunskap
        %p.copy--left De flesta av våra studenter saknar tidigare erfarenheter av programmering. Craft Academy Bootcamp är en utbildning för dig oavsett erfarenhet eller ålder. Så länge du har drivet och viljan.
      .column
        %h3.copy--left På lika villkor
        %p.copy--left Hos oss är spelar det ingen roll vad du har för kön, ålder eller etnisk bakgrund. Det viktiga är vad du presterar och hur du är som människa. Välkommen in i en gränsöverskridande värld med alla möjligheter.
    .three-width-row
      .column
        %h3.copy--left En global arena
        %p.copy--left I vår allt mer globaliserade värld blir det allt vanligare att man arbetar med människor i andra länder. Under Craft Academy Bootcamp får du lära dig att kommunicera och utveckla internationellt.
      .column
        %h3.copy--left Bygg din portfolio
        %p.copy--left Att kunna visa upp tidigare arbeten är en klar fördel när du ska söka jobb. Du kommer att lämna Craft Academy med minst två projekt i din portfölj. Välj om du vill jobba på egna idéer eller hjälpa till med något av våra ideella utvecklingsprojekt.
    = link_to 'Tillbaka', '/curriculum.html', class: 'button button--vertical'
