- description 'Lär dig programmering och webbutveckling på 12 veckor. Craft Academy är en intensiv & praktiskt inriktad utbildning där man får man lära sig programmera i JavaScript, Ruby, HTML5, CSS, mm. Vi erbjuder utbildningar i Göteborg, Stockholm och på distans'
- title 'Om oss'

%section.hero-splash{style: "background-image: url(#{image_path('backgrounds/splash_3.jpg')});"}
  .container
    .centered-row
      %h1 Craft Academy
      %p
        %strong
          Craft Academy är en 12 veckors intensiv och praktiskt inriktad camp för juniora utvecklare. Vi erbjuder en ny väg in till ett spännande yrke och är ett komplement till universitetsstudier och online tutorials.
%section
  .container
    %article
      %h3 Studera med Craft Academy
      %h4.leader Vi är en katalysator för förändring
      %h4 en plats där människor förvandlar sina liv.
      %p.copy--left Det vi gör på Craft Academy är inte bara att undervisa i Agila utvecklingsmetoder, Ruby, JavaScript, mm. Vi hjälper inte bara våra studenter att bli utvecklare, även om det är det synliga resultatet av vårt arbete. Vi hjälper dem att förändra sina liv till det bättre, att lära sig att lära, att förstå hur de fungerar och tänker.
      %p.copy--left Att vara student på Craft Academy är en riktig utmaning. Du kommer att äta, sova och andas kod. Problemlösning, grupparbete och ständiga utmaningar blir en stor del av ditt liv.
      %p.copy--left Vi ger dig alla verktyg du behöver för att bli en bra programmerare - tillgång till en beprövad läroplan, erfarna coacher på plats och på distans, möjlighet att samverka med deltagare i andra delar av Norden men även en egen MacBook Pro så att du får en bra utvecklarmiljö att jobba i.
      %p.copy--left Du tillbringar dina dagar på plats i våra lokaler vid Chalmers Innovation i Göteborg eller på någon av våra Remote Classroom och tar en aktiv roll i gemensamma föreläsningspass, projektarbeten och möten. Förutom svenska är engelska vårt arbetsspråk. Den mängd av engagemang du tillför till programmet återspeglar sig i dina resultat.
%hr
%section
  .container
    %article
      %h3 Vår mission
      %h4.copy--left Det är brist på utvecklare i Sverige och det finns ett stort behov av nya rekryter. Craft Academy siktar in sig på att vara en del av lösningen på det problemet.
      %p.copy--left Craft Academy startades av Thomas Ochman i samarbete med Makers Academy i London och levererade sin första bootcamp under hösten 2015. Vi har sedan starten haft en nära koppling till start-up scenen i Göteborg och har våra lokaler vid Chalemrs Innovation i en entreprenöriell miljö med många techföretag som grannar.
      %p.copy--left Inför vår expansion till andra nordiska städer siktar vi på att knyta nära band med andra inkubatorer och start-up acceleratorer för att kunna vara en naturlig kompetenspartner men även för att hjälpa våra studenter att knyta värdefulla kontakter och bygga nätverk.

= partial :'apply', locals: {about_us: true}
