- description 'Our detailed and proven course plan - developed by professional programmers and based on real-life projects and the latest industry practices.'
- title 'Course Plan'

= partial :'/english/partials/curriculum/_splash.html.haml'

%hr

= partial :'/english/partials/curriculum/_full_curriculum_vertical.html.haml'
= partial :'/english/partials/_course_dates.html.haml'
= partial :'/english/partials/_apply.html.haml'
