- language ||= :en
%section.hero
  .container
    .row
      - if language == :en
        %h2 Course Dates
        %h4.leader Distance or On-Site? You Decide
        %p.copy--left
          %strong
            Apply in time - the selection process takes approximately two weeks and we will interview you before you are accepted. There are at most ten spots in each cohort.
      - else
        %h2 Kursdatum
    .centered-row
      %table.responsive-table
        %thead
          %tr
            - if language == :se
              %th Förberedande kurs
              %th Kursstart
              %th Examen
              %th Plats
            - else
              %th Prep-Course start
              %th Course start
              %th Graduation

        %tbody
          - Intake.future_dates.each do |intake|
            %tr
              - if language == :se
                %td{data:{header: 'Förberedande kurs'}}= intake.precourse_start_date.strftime('%-d %B %Y')
                %td
                  %strong{data:{header: 'Kursstart'}}= intake.start_date.strftime('%-d %B %Y')
                %td{data:{header: 'Examen'}}= intake.end_date.strftime('%-d %B %Y')
                %td{data:{header: 'Plats'}}= intake.locations
              -else
                %td{data:{header: 'Prep-Course start'}}= intake.precourse_start_date.strftime('%-d %B %Y')
                %td
                  %strong{data:{header: 'Course start'}}= intake.start_date.strftime('%-d %B %Y')
                %td{data:{header: 'Graduation'}}= intake.end_date.strftime('%-d %B %Y')
