%section.hero-splash-white
  .container
    .profile-row
      .copy
        %h2
          Meet Our Students
        %p
          Craft Academy students come from diverse backgrounds. But when they graduate from bootcamp, they all have one thing in common: they are ready to work as web developers. From entrepreneurs developing their own products to mid-level executives who wanted to make a career shift, their stories show the value in practical training.
        .button-row.shift-to-bottom
          %p
            -# = link_to 'Våra studenter', '/students', class: "button button--vertical"
      .image.show-desktop
        %img= image_tag ('people/Lucia-400.png')
      .image.hide-desktop.no-padding
        %img= image_tag ('/people/Lucia-400.png')
