%section.backgrounded
  .container
    .centred-row
      %h2 Meet our students
      %img{src: 'http://s3.amazonaws.com/evancarmichael/pictures/Authors/8131/Bo-Mattsson-portrait.jpg', width: '200px'}
      %p.copy--left
        Bo Mattsson is a serial entrepreneur and investor who has founded a number of tech companies throughout the years.
        After graduating from Craft Academy in the fall of 2015, he
        //DID SOMETHING OTHER THAN INVEST IN THE BOOTCAMP, guys. What is this guy up to?
      %p.copy
        = link_to 'Read an interview with Bo', 'https://blog.craftacademy.se/at-sov-skit-kod/', target: '_blank', class: 'button button--horizontal'

      // There should be at least three awesome success stories from former students. What about Gustav? Is there literally anyone else who is working in tech now who graduated or at least is building their own thing?
