%section.backgrounded
  .container
    %article
      .centered-row
        %h2 Is Code Academy right for you?
        %h4 We're looking for those who are ready to roll up their sleeves and work hard to achieve their goals.
        %table
          %tbody
            %tr
              %th.copy
                %h5= 'Code Academy <br>may be right for you if'.html_safe
              %th.copy
                %h5= 'Code Academy <br>might not be a good fit if'.html_safe
            %tr.copy--left
              %td You can dedicate 100% of your time, energy and attention to learning coding as a craft. You can only get out of bootcamp what you put in. If you give us everything we've got, we can make you a programmer. But we need you <i>in</i>.
              %td You have to work a full-time job during the bootcamp. Of course we understand that everyone has to work to survive, but there simply isn't enough time in the day to be at a job and also participating in a bootcamp.
            %tr.copy--left
              %td You have found traditional education constraining, frustrating, or boring. We don't care the slightest bit what your exam scores were in school. We care about your passion, your drive, and your dedication.
              %td You are at a very different time zone than Sweden. We have twice-daily meetings and very frequent demos and pair-programming sessions - all of which take place in real-time. If our afternoon is your middle of the night, we may run into serious logistical issues.

            %tr.copy--left
              %td You love learning new things and thrive in fast-paced environments.
              %td You're not interested in coding. Don't enroll in bootcamp simply because there are so many jobs in the tech industry. Your passion must drive your choice.
