%section.hero-splash-white{style: "background-image: url(#{image_path('backgrounds/startup-fade.jpg')});"}
  .container
    .centered-row
      %article
        %h4.leader Bli en del av lösningen
        %h2 Det råder brist på utvecklare
        %p.copy
          Arbetsgivare runt om i landet söker med ljus och lykta efter systemutvecklande juniorer.  Med vår hjälp får du under tre månader lära dig många av de färdigheter som efterfrågas allra mest. Vi hjälper dig också att hitta ditt första jobb.
        = link_to 'Läs mer', '/students', class: 'button button--vertical'
