%section.hero-splash-white
  .container
    .profile-row
      .image.show-desktop
        %img{src: 'http://s3.amazonaws.com/evancarmichael/pictures/Authors/8131/Bo-Mattsson-portrait.jpg', width: '200px'}
      .copy
        %h2
          Möt våra studenter
        %p
          Deltagarna på våra bootcamps har ofta helt olika bakgrund. Från entreprenörer som vill utveckla sina egna produkter till de som är mitt i karriären och känner att det är dags för en ny utmaning. Alla har dock en sak gemensamt. De vill jobba med systemutveckling och de vill göra det nu - inte om tre år.
        .button-row.shift-to-bottom
          %p
            = link_to 'Våra studenter', '/students', class: "button button--vertical"
      .image.hide-desktop.no-padding
        %img{src: 'http://s3.amazonaws.com/evancarmichael/pictures/Authors/8131/Bo-Mattsson-portrait.jpg', width: '200px'}
